<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <script src='/socket.io/socket.io.js'></script>
    <script src='http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.10.1.min.js'></script>
    <script>
    	var socket = io.connect(null, { transports: ['xhr-polling'] });
    	$(document).ready(function() {
        $('#send').click(function() {
          socket.emit('message', $('#content').val());
        });

	    	socket.on('message', function(data) {
	    		$('#messages').append('<li>' + data + '</li>');
	    	});
    	});
    </script>
  </head>
  <body>
    <h1><%= title %></h1>
    <input id="content" type="text" />
    <button id="send">send</button>
    <ul id="messages"></ul>
  </body>
</html>